<a href="https://colab.research.google.com/github/PimPim939/qu-n-l-nh-n-s-1/blob/main/GD_LAB12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Huỳnh Hà Nhật Tiến - 23150356 - ca 2 thứ 4 - 2/7/2025

In [9]:
# 1. Khởi tạo Series tuoi chứa các giá trị tuổi
import pandas as pd

tuoi = pd.Series([20, 25, 30, 35])
print("Series tuoi:")
print(tuoi)

Series tuoi:
0    20
1    25
2    30
3    35
dtype: int64

In [14]:
# 2. Lấy giá trị tại chỉ mục 2
print("\nGiá trị tại chỉ mục 2:")
print(tuoi[2])

Giá trị tại chỉ mục 2:
30

In [15]:
# 3. Thống kê mô tả của Series trên
print("\nThống kê mô tả:")
print(tuoi.describe())

Thống kê mô tả:
count     4.000000
mean     27.500000
std       6.454972
min      20.000000
25%      23.750000
50%      27.500000
75%      31.250000
max      35.000000
dtype: float64

In [21]:
# 4. Cộng 5 vào mỗi phần tử trong Series
print("\nSeries sau khi cộng 5 vào mỗi phần tử:")
print(tuoi + 5)

Series sau khi cộng 5 vào mỗi phần tử:
0    25
1    30
2    35
3    40
dtype: int64

In [27]:
# 5. Tạo cấu trúc lưu trữ dạng DataFrame
import pandas as pd

data = {
    'Tên': ['An', 'Hà', 'Trung', 'Dũng'],
    'Tuổi': [20, 25, 30, 35],
    'Thành Phố': ['Hà Nội', 'Tp HCM', 'Nha Trang', 'Huế']
}
df = pd.DataFrame(data)

In [24]:
# 6. In dữ liệu trên
print("Dữ liệu DataFrame:")
print(df)

Dữ liệu DataFrame:
     Tên  Tuổi  Thành Phố
0     An    20     Hà Nội
1     Hà    25     Tp HCM
2  Trung    30  Nha Trang
3   Dũng    35        Huế

In [28]:
# 7. In cột Tên
print("\nCột Tên:")
print(df['Tên'])

Cột Tên:
0       An
1       Hà
2    Trung
3     Dũng
Name: Tên, dtype: object

In [29]:
# 8. Truy cập hàng thứ 2
print("\nHàng thứ 2:")
print(df.iloc[2])

Hàng thứ 2:
Tên              Trung
Tuổi                30
Thành Phố    Nha Trang
Name: 2, dtype: object

In [30]:
# 9. Thêm cột Nghề nghiệp
df['Nghề nghiệp'] = ['Kỹ sư', 'Bác sĩ', 'Giáo viên', 'Kinh doanh']
print("\nDataFrame sau khi thêm cột Nghề nghiệp:")
print(df)

DataFrame sau khi thêm cột Nghề nghiệp:
     Tên  Tuổi  Thành Phố Nghề nghiệp
0     An    20     Hà Nội       Kỹ sư
1     Hà    25     Tp HCM      Bác sĩ
2  Trung    30  Nha Trang   Giáo viên
3   Dũng    35        Huế  Kinh doanh